* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --black: #1a1a1d;
    --ass: #4e4e50;
    --primary: #7667FE;
    --white: #EDEFFA;
    --primary-light: #998DFF;
}

.container {
    width: min(95%, 1600px);
    margin: auto;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

body {
    background: linear-gradient(#d7dbfd, #FDFDFE);
}


/* ======================= Section Heading ======================= */
.sec-heading h1 {
    font-size: 2rem;
    font-weight: 200;
    position: relative;
    font-size: 40px;
    color: var(--black);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    margin: 50px 0;
}

.sec-heading h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: var(--primary);
}

.sec-heading h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2.5px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: var(--primary);
}


/* ======================= Hamburger Navigation ======================= */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primary-light);
    overflow-x: hidden;
    transition: 0.6s;
}

.overlay i{
    font-size: 2rem;
    position: absolute;
    top: 35px; 
    right: 35px;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--white);
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #d7dbfd;
}


/* ======================= Hero Section Start ======================= */
header {
    min-height: 100vh;
    width: 100%;
    background: url(../Images/header-bg.png);
    background-size: cover;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    width: calc(100% - 60px);
    margin: auto;
}

header .logo img {
    width: 70px;
}

header .menu i {
    font-size: 1.8rem;
    color: var(--white);
    opacity: .6;
    transition: .6s;
}

header .menu i:hover {
    opacity: 1;
    transform: translateX(-3px);
}

.hero-items {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.hero-items .title,
.hero-items .know-more-btn {
    display: flex;
    align-items: center;
}

.hero-items .title h5 {
    font-size: 1.3rem;
    color: var(--white);
    font-weight: 400;
    position: relative;
}

.hero-items .title .line {
    width: 80px;
    border-bottom: 2px solid var(--primary);
    margin-left: 10px;
}

.hero-items .developer {
    margin: 50px 0;
}

.hero-items .developer h1 {
    font-size: 9rem;
    line-height: 80px;
    color: var(--primary);
    font-weight: 800;
    letter-spacing: -5px;
}

.hero-items .developer h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    left: 50px;
    position: relative;
}

.hero-items .know-more-btn {
    cursor: pointer;
}

.hero-items .know-more-btn p {
    font-size: 1.2rem;
    font-weight: 200;
    color: white;
}

.hero-items .know-more-btn .line {
    width: 80px;
    border-bottom: 2px solid var(--primary);
    margin-right: 10px;
}

.hero-items .know-more-btn .circle {
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary);
    margin-right: -20px;
    border-radius: 50%;
}

header .scroll-down a {
    position: absolute;
    display: flex;
    align-items: center;
    left: 30px;
    bottom: 20px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

header .scroll-down .line {
    border-left: 2px solid var(--primary);
    height: 70px;
    margin-top: 10px;
}

header .scroll-down p {
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 300;
}

header .social ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 30px;
    bottom: 20px;
    gap: 25px;
}

header .social ul a {
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    border-radius: 50%;
    opacity: .7;
    transition: .6s;
}

header .social ul li i {
    color: var(--primary);
}

header .social ul a:hover {
    opacity: 1;
    border: 1.5px solid var(--primary);
    transform: rotate(45deg);
}
/* ======================= Hero Section End ======================= */


/* ======================= About Section Start ======================= */
.about-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-detail .image img{
    width: 400px;
    height: auto;
}

.about-info {
    width: 554px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid var(--primary);
    padding: 5px;
    border-radius: 50px;
}

.tab {
    font-size: 1.1rem;
    font-weight: 400;
    padding: 15px 60px;
    cursor: pointer;
    transition: .6s;
}

.tab.active {
    background-color: var(--primary-light);
    font-weight: 500;
    color: var(--white);
    border-radius: 50px;
}

.tab-content {
    width: calc(100% - 10px) ;
    margin-top: 25px;
}

.content-item {
    display: none;
}

.content-item.active {
    display: flex;
    justify-content: start;
}

.about .about-info .education{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .about-info .sessions{
    position: relative;
}

.about .about-info li{
    padding-bottom: 1.5rem;
    border-left: 1px solid var(--primary-light);
    position: relative;
    padding-left: 20px;
}

.about .about-info li:last-child{
    padding-bottom: 0;
}

.about .about-info li::before{
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid var(--primary-light);
    box-shadow: 0px 0px 5px 2px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -9px;
    top: 1px;
}

.about .about-info .institute{
    color: var(--primary-light);
    font-weight: 500;  
}
.about .about-info p{
    color: #4f4f4f;
    line-height: 1.5;
    margin-top:0.4rem;
}

.about .about-info span{
    color: #9493a1;
}

.about .about-info .skills{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .about-info .skills .skill{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.about .about-info .skills .skill h2{
    font-size: 1.2rem;
    font-weight: 500;
    width: 100px;
}

.about .about-info .skills .skill h3{
    font-size: 1.2rem;
    font-weight: 500;
    width: 100px;
}

.about .about-info .skills .skill .bar{
    width: 250px;
    height: 15px;
    border: 1px solid var(--primary-light);
    margin: 0 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 2px;
}

.about .about-info .skills .skill .inside1{
    border-radius: 30px;
    width: 90%;
    height: 10px;
    background: var(--primary-light);
    animation: slide1 2s ease-in-out;
}

.about .about-info .skills .skill .inside2{
    border-radius: 30px;
    width: 75%;
    height: 10px;
    background: var(--primary-light);
    animation: slide1 2s ease-in-out;
}

.about .about-info .skills .skill .inside3{
    border-radius: 30px;
    width: 95%;
    height: 10px;
    background: var(--primary-light);
    animation: slide1 2s ease-in-out;
}

@keyframes slide1{
    from{
        width: 0;
    }
    to{
        width: 90%;
    }
}
@keyframes slide2{
    from{
        width: 0;
    }
    to{
        width: 80%;
    }
}
@keyframes slide3{
    from{
        width: 0;
    }
    to{
        width: 55%;
    }
}
/* ======================= About Section End ======================= */


/* ======================= Portfolio Section Start ======================= */
.portfolio-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-content .work-one,
.portfolio-content .work-two,
.portfolio-content .work-three,
.portfolio-content .work-four
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.portfolio-content .image img{
    height: auto;
    width: 600px;
}

.portfolio-content .work-one .text,
.portfolio-content .work-three .text{
    position: relative;
    right: -40px;
}

.portfolio-content .work-two .text,
.portfolio-content .work-four .text{
    position: relative;
    right: 40px;
}

.portfolio-content .work-one .text h2,
.portfolio-content .work-three .text h2{
    text-align: start;
    color: var(--black);
    line-height:75px;
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: -2px;
}

.portfolio-content .work-two .text h2,
.portfolio-content .work-four .text h2{
    text-align: end;
    color: var(--black);
    line-height:85px;
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: -2px;
}

.portfolio-content .text h2 span{
    font-size: 7rem;
    color: var(--primary);
}
/* ======================= Portfolio Section End ======================= */


/* ======================= Service Section Start ======================= */
.service-main .text h2{
    font-size: 2rem;
    color: var(--ass);
    line-height: 35px;
    font-weight: 500;
    margin-bottom: 10px;
}
.service-main .text p{
    font-size: 1rem;
    color: rgba(26, 26, 29, 0.5);
    font-weight: 500;
    margin-bottom: 30px;
}

.service-main .service-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-main .service-box .box-one,
.service-main .service-box .box-two{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.service-box .box-one .item1,
.service-box .box-one .item2,
.service-box .box-two .item1,
.service-box .box-two .item2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--white);
    border-radius: 5px;
    padding: 20px;
    width: min(95%, 400px);
    cursor: pointer;
    transition: .5s;
}

.service-box .box-one .item1:hover,
.service-box .box-one .item2:hover,
.service-box .box-two .item1:hover,
.service-box .box-two .item2:hover{
    box-shadow: 0 5px 8px 2px rgba(152, 141, 255, 0.3);
}

.service-box .box-one .item1 i,
.service-box .box-one .item2 i,
.service-box .box-two .item1 i,
.service-box .box-two .item2 i{
    font-size: 2rem;
    color: var(--primary);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--white);
    box-shadow: 0 3px 5px 1px #d7dbfd,
                0 0 0 8px #FDFDFE;
    margin-right: 10px;
}

.service-box .item-text h4{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primary-light);
    margin-bottom: 10px;
}
.service-box .item-text p{
    font-size: .9rem;
    font-weight: 300;
    color: var(--ass);
}
/* ======================= Service Section End ======================= */


/* ======================= Contact Section Start ======================= */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box {
    width: clamp(100px, 90%, 1000px);
    margin: 80px 50px;
    display: flex;
    flex-wrap: wrap;
}

.contact-links,
.contact-form-wrapper {
    width: 50%;
    padding: 8% 5%;
}

.contact-links {
    background-color: var(--black);
    border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
    background-color: var(--white);
    border-radius: 0 10px 10px 0;
}

.contact-links h2 {
    color: var(--primary);
    font-size: clamp(30px, 6vw, 60px);
    letter-spacing: 2px;
    text-align: center;
    transform: scale(.95, 1);
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

.link a{
    margin: 10px;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    border-radius: 50%;
    opacity: .7;
    transition: .6s;
    cursor: pointer;
}

.link a i{
    color: var(--primary);
}

.form-item {
    position: relative;
}

.contact label {
    position: absolute;
    top: 13px;
    left: 15px;
    color: var(--ass);
    font-size: clamp(14px, 1.5vw, 18px);
    pointer-events: none;
    user-select: none;
}

input,
textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 12px;
    font-size: clamp(15px, 1.5vw, 18px);
    background: transparent;
}

textarea{
    height: 120px;
}

input:focus+label,
input:valid+label,
textarea:focus+label,
textarea:valid+label {
    font-size: clamp(13px, 1.3vw, 16px);
    color: #777;
    top: -23px;
    left: 0;
    transition: all .225s ease;
}
/* ======================= Contact Section End ======================= */


/* ======================= Button ======================= */
.submit-btn {
    background: linear-gradient(0deg, var(--primary), var(--primary-light));
    box-shadow: 0px 3px 8px 1px var(--primary-light);
    color: var(--white);
    font-size: clamp(16px, 1.6vw, 18px);
    display: block;
    padding: 12px 30px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
}

.submit-btn:hover {
    background: linear-gradient(180deg, var(--primary), var(--primary-light));
    transform: translateX(4px);
}

.more-btn {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
}

.more-btn p {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--black);
}

.more-btn .line {
    width: 80px;
    border-bottom: 2px solid var(--primary);
    margin-right: 10px;
}

.more-btn .circle {
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary);
    margin-right: -20px;
    border-radius: 50%;
}


/* ======================= Footer ======================= */
footer{
    background: var(--primary-light);
    padding: 30px 0;
}

footer .subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .subscribe h3{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--white);
}

footer .subscribe p{
    font-size: 1rem;
    font-weight: 4;
    color: var(--white);
    margin-bottom: 5px;
}

footer .subscribe .sub-button{
    display: flex;
    gap: 20px;
}

footer .subscribe input[type="email"]{
    width: 300px;
    border: 1px solid  var(--white);
}

footer .subscribe input[type="submit"]{
    width: 120px;
    border: 2px solid var(--white);
    color:var(--white);
    cursor: pointer;
    transition: .6s;
}

footer .subscribe input[type="submit"]:hover{
    background: var(--white);
    color: var(--primary);
}

footer .quick-link ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.1rem;
    margin-top: 30px;
}

footer .quick-link ul li{
    position: relative;
}
footer .quick-link ul li a{
    color: var(--white);
}

footer .quick-link ul li::after{
    content: '';
    position: absolute;
    border-bottom: 1px solid var(--white);
    width: 0%;
    transition: .6s;
    left: 0;
    bottom: -2px;
}

footer .quick-link ul li:hover::after{
    width: 100%;
}

footer .social i{
    color: var(--white);
}

footer .social a{
    border: 1px solid var(--white);
}

/* ======================= Footer ======================= */


/* ======================= Media Query ======================= */
@media only screen and (max-width: 800px) {
    h2 {
        font-size: clamp(40px, 10vw, 60px);
    }
}

@media only screen and (max-width: 400px) {
    h2 {
        font-size: clamp(30px, 12vw, 60px);
    }
    .links {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 800px) {
    .contact-links,
    .contact-form-wrapper {
        width: 100%;
    }
    .contact-links {
        border-radius: 10px 10px 0 0;
    }
    .contact-form-wrapper {
        border-radius: 0 0 10px 10px;
    }
}

@media only screen and (max-width: 400px) {
    .contact-box {
        width: 95%;
        margin: 8% 5%;
    }
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}